.Header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.Header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
