/* Shared styles only */
.red {
  color: #d10146;
}

.blue {
  color: #015aff
}

.Card-list {
  position: relative;
}

.PlayerGroup {
  margin-bottom: 1rem;
}

.PlayerGroup--KingView {
  margin-bottom: 1rem;
}

.PlayerGroup--PlayerView .Player {
  pointer-events: none;
}

/* TODO put this style on ActionArea instead? or move Mission-result next to its component, remove from assassination view */
.LayoutGroup--KingProposalView,
.Vote-Result,
.Mission-Result {
  margin-bottom: 5rem;
}
