.Header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 30px;
}

.Button {
  min-width: 100px;
  background-color: green;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: .8rem;
}

.Text-P {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.Text-Heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px;
  padding: 0;
}

.Text-Sub {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

 @media screen and (max-width: 600px) {
    .Button {
      width: 100%;
    }
  }