.App {
  text-align: center;
}

/*Needs all attributes here and on wrapper for scroll snapping to work.*/
.Mission-list {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1.5rem;
}

.Mission-wrapper {
  scroll-snap-align: center;
}

.PlayerGroup {
	margin-bottom: 1rem;
}

.PlayerGroup--KingView {
	margin-bottom: 1rem;
}

.PlayerGroup--PlayerView .Player {
	pointer-events: none;
}